*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: #000;
}
#nav-part1{
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 50px;
}
#nav-part2{
    display: flex;
    gap: 50px;
}
#nav-part2 a{
 text-decoration: none;
}
h1{
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 100px;
    white-space: nowrap;
    color: #fff;
}
form{
    width: 28%;
    margin: auto;
    padding-top: 50px;
}
.bg{
    background-color: 
    #512e5f;
}
.btn-color {
    background-color: #2980b9 ;
    border: none;
  }
  #nav-part3{
    margin: 30px;
    display: flex;
    /* justify-content: space-between; */
    gap: 10px;
  }